<!-- wp:group {"className":"midex-hero-shell","layout":{"type":"default"}} -->
<div class="wp-block-group midex-hero-shell">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
	<!-- wp:midex/hero-slider /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"overflow-x-hidden","layout":{"type":"default"}} -->
<main class="wp-block-group overflow-x-hidden">
	<!-- wp:midex/events-gallery /-->
	<!-- wp:midex/collab-banner /-->
	<!-- wp:midex/services-products /-->
	<!-- wp:midex/new-products /-->
	<!-- wp:midex/trademark-partners /-->
	<!-- wp:midex/stats-counter /-->
	<!-- wp:midex/testimonials /-->
	<!-- wp:midex/latest-news /-->
	<!-- wp:midex/latest-blog /-->
	<!-- wp:midex/clients-logos /-->
	<!-- wp:midex/request-quote /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
