<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group midex-single-solution__layout">
	<!-- wp:post-featured-image /-->
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-terms {"term":"solution_group","prefix":"Group: "} /-->
	<!-- wp:post-content /-->

	<!-- wp:midex/solution-intro /-->
	<!-- wp:midex/solution-specs /-->
	<!-- wp:midex/solution-featured /-->
	<!-- wp:midex/request-quote /-->
	<!-- wp:midex/solution-faq /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
