<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-date {"fontSize":"small","textColor":"muted"} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group">
		<!-- wp:post-terms {"term":"category"} /-->

		<!-- wp:post-terms {"term":"post_tag"} /-->

	</div>
	<!-- /wp:group -->

	<!-- wp:separator {"backgroundColor":"surface"} -->
	<hr class="wp-block-separator has-text-color has-surface-color has-alpha-channel-opacity has-surface-background-color has-background"/>
	<!-- /wp:separator -->

	<!-- wp:post-navigation-link {"type":"previous","label":"Previous post"} /-->

	<!-- wp:post-navigation-link {"type":"next","label":"Next post"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
